/* Google Fonts CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* Global CSS */
*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 75%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 15%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	width: 75%;
	float: right;
	margin-top: 17px;
}
.menu ul{
	float: right;
}
.menu ul li{
	display: inline-block;
    padding-left: 25px;
    font-weight: 600; 
}
.menu ul li a{
	text-decoration: none;
	list-style: none;
	color: #7B7B7B;
	font-size: 17px;
	transition: 0.4s ease-in-out;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #BD233F;
}